
header {
  padding: 80px 0 100px;
}

section {
  padding: 150px 0;
}

#about{
  margin-top: 25rem;
} 

.navbar {
	-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  color: white !important;
}

.navbar-brand {
	font-style: sans-serif;
	font-size: 2rem;
}

.navbar-dark .navbar-brand {
    color: #323232;
}

.navbar-dark .nav-item .nav-link {
    color: #323232;
}

.collapse {
    color: #323232;  
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(58 58 58 / 0.75);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgba(58 58 58 / 0.75);
}

  .image-background {
    padding: 0 0;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; 
    }

.image-container {
  display: -ms-flexbox; 
  position: absolute; 
  transform: translate(-20rem, 5rem);

} 

@media screen and (max-width: 1200px) {
  .image-container {
    display: none;
  }
}

/*  Colapse color change   */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2858, 58, 58, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

















